*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: rgb(96, 144, 96);
}
.deleteitem{

}
.addedList{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    
    
}
.addedList div{
    width: 80%;
    height: 60px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 208, 190);
    color: rgb(96, 144, 96);
    font-size: 25px;
    justify-content: space-between;
    text-transform: capitalize;
}
.inputs{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.tasks{
    width: 60%;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid gray;
}
.add{
    width: 10%;
    height: 45px;
    border-radius: 8px;
    border:none;
    background-color: rgb(190, 208, 190);
}
.delete{
    width: 10%;
    height: 45px;
    border-radius: 8px;
    border:none;
    background-color: rgb(190, 208, 190);
}
